-# =
  Date: 20.07.15
  Project: TimeShift
  Developer Alex Collin <alex@collin.su>
  Copyright by "CleverTek LLC" 2014-2015

!!!
%nav(class="navbar navbar-default" role="navigation")
  %div(class="container-fluid" )
    %div(class="navbar-header" )
      %button(type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-3")
        %span(class="sr-only")
          Toggle navigation
        %span(class="icon-bar")
        %span(class="icon-bar")
        %span(class="icon-bar")
      %a(class="navbar-brand" href="#" )
        &nbsp
        =Yii::$app->name
    %div(class="collapse navbar-collapse" id="bs-example-navbar-collapse-3" )
      %button(type="button" class="btn btn-default navbar-btn")
        Join


