-use app\assets\FrontendAsset
-use yii\helpers\Html
-use yii\web\View

-FrontendAsset::register($this)
-$view->beginPage()
!!!

%html{:lang => Yii::$app->language}
  %head
    %meta{:charset => Yii::$app->charset}
    %meta(name="viewport" content="width=device-width, initial-scale=1")
    %meta(name="description" content="#{Yii::$app->params['projectDescription']}")
    %meta(name="author" content="#{Yii::$app->params['author']}")
    !=Html::csrfMetaTags()
    %title = Html::encode($view->title)
    -$view->head()
  %body(ng-app="tsApp")
    %div(class="container-fluid" ng-controller="GlobalCtrl")
      %div(class="row" )
        -# Top menu header begin
        -$view->beginContent("@app/views/layouts/_headerMenu.haml")
        -$view->endContent()
        -# Top menu header end

        -$view->beginBody()
        !=$content
        -$view->endBody()

-$view->endPage()