{#
 * Date: 22.04.15
 * Project: TimeShift
 * Developer: Alex Collin <alex@collin.su>
 *
 * Copyright by "CleverTek LLC" 2014-2015
 */
#}
{{ set(this, 'title', name) }}
<div class="site-error">
    <h1>{{ html.encode(this.title) }}</h1>

    <div class="alert alert-danger">
        {{ html.encode(message) | nl2br }}
    </div>
</div>
